.bg {
  background-color: #fff;
  height: auto;
}
.bg .logo {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg .layer {
  background-color: #F4F4F4;
  width: 1px;
  height: 70px;
}
.bg .menu {
  width: 35%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-left: 20px;
}
.bg .menu .box1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.bg .menu .box1 p {
  color: #5268B1;
  text-align: center;
  font-family: SF Pro;
  font-size: 12px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
  text-transform: uppercase;
}
.bg .menu .box1 i {
  color: #5268B1;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.bg .menu .box1 .layer1 {
  width: 40px;
  height: 2px;
  background-color: #5268B1;
}
.bg .menu .box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.bg .menu .box p {
  color: #181818;
  text-align: center;
  font-family: SF Pro;
  font-size: 12px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
  text-transform: uppercase;
}
.bg .menu .box i {
  color: #181818;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.bg .search {
  width: 20%;
}
.bg .search i {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  color: #5268B1;
}
.bg .search input {
  border: none;
}
.bg .box3 {
  width: 15%;
}
.bg .box3 img {
  width: 42px;
  height: 42px;
  flex-shrink: 0;
}
.bg .box4 {
  width: 10%;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg .box4 p {
  color: #181818;
  text-align: center;
  font-family: SF Pro;
  font-size: 12px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
  text-transform: uppercase;
}
.bg .box4 i {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.bg2 {
  display: none;
}

@media (max-width: 1072px) {
  .bg {
    display: none;
  }
  .bg2 {
    display: block;
  }
  .bg2 .search {
    width: 80%;
  }
  .bg2 .search i {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    color: #5268B1;
  }
  .bg2 .search input {
    border: none;
  }
}
@media (min-width: 1072) {
  .bg {
    display: block;
  }
  .bg2 {
    display: none !important;
  }
}
.feed {
  width: 100%;
  height: auto;
  background: #F7F9FB;
  display: flex;
  justify-content: center;
}
.feed .blog {
  width: 80%;
  border-radius: 4px;
}
.feed .blog .layer {
  width: 100%;
  height: 1px;
  background-color: #F0F0F0;
}
.feed .blog .box {
  height: 20vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
}
.feed .blog .box p {
  margin: 10px;
  color: #181818;
  font-family: SF Pro;
  font-size: 12px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
  text-transform: uppercase;
}
.feed .blog .box .box2 {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  width: 95%;
}
.feed .blog .box .box2 input {
  border: none;
}
.feed .blog .box .box2 input::-moz-placeholder {
  color: rgba(24, 24, 24, 0.2);
  font-family: SF Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.feed .blog .box .box2 input::placeholder {
  color: rgba(24, 24, 24, 0.2);
  font-family: SF Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.feed .blog .box .box2 .iconbtn {
  flex-shrink: 0;
  background-color: #5268B1;
  color: #fff;
}
.feed .blog2 {
  margin-top: 22px;
  border-radius: 4px;
}
.feed .blog2 .left {
  background-color: #fff;
  padding: 5px;
  height: auto;
}
.feed .blog2 .left span {
  color: #5268B1;
}
.feed .blog2 .left .layer {
  width: 100%;
  height: 1px;
  background-color: #F0F0F0;
}
.feed .blog2 .text1 {
  background: linear-gradient(180deg, #181818 0%, rgba(24, 24, 24, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: SF Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.feed .blog2 .text2 {
  color: #5268B1;
  font-family: SF Pro;
  font-size: 12px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
  text-transform: uppercase;
}
.feed .blog3 {
  margin-top: 22px;
  border-radius: 4px;
}
.feed .blog3 .left {
  background-color: #fff;
  padding: 5px;
  height: auto;
}
.feed .blog3 .left span {
  color: #5268B1;
}
.feed .blog3 .left .layer {
  width: 100%;
  height: 1px;
  background-color: #F0F0F0;
}
.feed .blog3 .text1 {
  background: linear-gradient(180deg, #181818 0%, rgba(24, 24, 24, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: SF Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.feed .blog3 .text2 {
  color: #5268B1;
  font-family: SF Pro;
  font-size: 12px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
  text-transform: uppercase;
}
.feed .blog3 .mybox {
  border-radius: 4px;
  background: #E9F0F8;
  display: flex;
  flex-shrink: 0;
  align-items: center;
}
.feed .blog3 .mybox .icon {
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 26px;
  background: #5268B1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
  color: #fff;
}
.feed .right {
  width: 100%;
  height: 40vh;
  background-color: #fff;
  position: relative;
}
.feed .right img {
  width: 100%;
  height: 20vh;
}
.feed .right .img2 {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 6px solid #FFF;
  position: absolute;
  top: 120px;
  right: 200px;
}
.feed .right1 {
  height: auto;
  background-color: #fff;
}

.footer {
  width: 100%;
  height: 215px;
  background: linear-gradient(180deg, rgba(241, 244, 248, 0.8) 0%, rgba(241, 244, 248, 0) 100%);
}
.footer .text {
  transform: translateY(-12px);
}
.footer p {
  color: #5268B1;
  font-family: SF Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
}
.footer p span {
  color: #FDC16D;
  font-family: SF Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.footer .mybtn {
  width: 170px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #5268B1;
  background: #5268B1;
  color: #fff;
}
.footer .mybtn2 {
  border-radius: 4px;
  border: 1px solid #5268B1;
  width: 170px;
  height: 32px;
  flex-shrink: 0;
  color: #5268B1;
  font-family: SF Pro;
  font-size: 12px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
  text-transform: uppercase;
}
.footer .mybtn4 {
  width: 80%;
  height: 32px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #F0F0F0;
  background: #FFF;
  color: #181818;
  font-family: SF Pro;
  font-size: 12px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */